# Ignore node_modules directory
node_modules/
front/node_modules
server/node_modules
.github
# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore local configuration files
.env
.env.local

# Ignore VS Code settings
.vscode/
# Ignoring build files
front/build
server/dist
